In [3]:
print("hello")
print('hello "안녕하세요"')
print("hello '안녕하세요'")
print('안녕', '하세요', '반갑습니다')
print('안녕'+'하세요'+'반갑습니다')
print("""안녕하세요
오늘은 날씨가 좋네요""")
print('''안녕하세요
오늘은 날씨가 좋네요''')
print("안녕하세요"\
"오늘은 날씨가 좋네요")
a=123
b="안녕하세요."
print(" a값:{} b값:{} ".format(a,b))
print(f" a값:{a} b값:{b}")

hello
hello "안녕하세요"
hello '안녕하세요'
안녕 하세요 반갑습니다
안녕하세요반갑습니다
안녕하세요
오늘은 날씨가 좋네요
안녕하세요
오늘은 날씨가 좋네요
안녕하세요오늘은 날씨가 좋네요
 a값:123 b값:안녕하세요.
 a값:123 b값:안녕하세요.

In [6]:
input()
input("값을 입력하여 주세요:")
a=input('첫 번째 문자열 입력:')
b=input('두 번째 문자열 입력:')

print(a+b)

123
값을 입력하여 주세요:123
첫 번째 문자열 입력:2
두 번째 문자열 입력:4
24

In [12]:
a=10
b=10
c=a+b
print(c)
d='10'
print(c+int(d))
print(str(c)+d)

e=3.14
f=10
print(e+f)

c=float(a)+float(b)
print(c)

a_bool = True
b_bool = False
a_int = 1
b_int = 0
print(a_bool)
print(b_bool)
print(type(a_bool))
print(type(b_bool))
print(a_int)
print(b_int)
print(type(a_int))
print(type(b_int))

20
30
2010
13.14
20.0
True
False
<class 'bool'>
<class 'bool'>
1
0
<class 'int'>
<class 'int'>

In [18]:
a_list = [1,2,3,4,5]
print(a_list)
print(a_list[0])
print(a_list[1])
print(a_list[:2])
print(a_list[2:])

b_list=[]
b_list.append(1)
b_list.append(2)
b_list.append(3)
print(b_list)

c_list=[1,3.14,"hello",[1,2,3]]
print(c_list)
print(c_list[1:3])

d_list=[1,2,3,4,5]
print(d_list)
d_list[0]=5
print(d_list)

a_tuple=(1,2,3,4,5)
print(a_tuple)

a_dic={'a':1, 'b':2, 'c':'3'}
print(a_dic)
print(a_dic['a'])
print(a_dic['b'])
print(a_dic['c'])

b_dic={1: 'a', 'b' : [1,2,3], 'c':3}
print(b_dic[1])
print(b_dic['b'])
print(b_dic['c'])
b_dic['d'] = 4
print(b_dic)

a_set=set([1,2,3,4])
print(a_set)
b_set=set([1,1,2,2,3,3,4,5,6])
print(b_set)
c_set=set("python40s")
print(c_set)

[1, 2, 3, 4, 5]
1
2
[1, 2]
[3, 4, 5]
[1, 2, 3]
[1, 3.14, 'hello', [1, 2, 3]]
[3.14, 'hello']
[1, 2, 3, 4, 5]
[5, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'a': 1, 'b': 2, 'c': '3'}
1
2
3
a
[1, 2, 3]
3
{1: 'a', 'b': [1, 2, 3], 'c': 3, 'd': 4}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{'h', 't', 'p', 'n', '0', 'y', 'o', '4', 's'}

In [25]:
print("더하기:",10+20)
print("빼기:",10-20)
print("곱하기:",10*20)
print("나누기:",10/20)
print("c**2: ",10**2)
print("c**3: ",10**3)
print("c**4: ",10**4)
print("몫: ",40//6)
print("나머지: ",40%6)

print(0 or 0)
print(0 or 1)
print(1 or 0)
print(1 or 1)
print(False or False)
print(False or True)
print(True or False)
print(True or True)

print(0 and 0)
print(0 and 1)
print(1 and 0)
print(1 and 1)
print(False and False)
print(False and True)
print(True and False)
print(True and True)

print(not 0)
print(not 1)
print(not False)
print(not True)

print(10 == 10)
print(10 >= 10)
print(10 <= 10)
print(10 < 5)
print(10 > 5)
print(10 != 10)

a_list=['a',2,'hello',3]
print('a' in a_list)
print(1 in a_list)
print('hello' in a_list)
print(3 in a_list)

a_str="hello python"
print("python" in a_str)
print("py" in a_str)
print("py" in a_str)
print("40" in a_str)

더하기: 30
빼기: -10
곱하기: 200
나누기: 0.5
c**2:  100
c**3:  1000
c**4:  10000
몫:  6
나머지:  4
0
1
1
1
False
True
True
True
0
0
0
1
False
False
False
True
True
False
True
False
True
True
True
False
True
False
True
False
True
True
True
True
True
False

In [27]:
a=1
b=1
if a==b:
  print("두 개의 값은 같습니다.")
if a!=b:
  print("두 개의 값은 같지 않습니다.")

a=1
b=2
if a==b:
  print("두 개의 값은 같습니다.")
else:
  print("두 개의 값은 같지 않습니다.")
if a>b:
  print("a 값이 더 큽니다.")
elif a<b:
  print("b 값이 더 큽니다.")
else:
  print("두 개의 값은 같습니다.")

a=1
b=1
if a>=b:
  print("a 값이 더 크거나 같습니다.")
if a<=b:
  print("a 값이 더 작거나 같습니다.")

a=1
b=1
c=2
d=2
if a==b and c==d:
  print("두 조건 모두 만족")
if a==b or c==d:
  print("두 조건 중 하나라도 만족하면")

a_str = "hello python"
if a_str == "hello python":
  print("hello python 문자열이 같습니다.")
if a_str == "hi python":
  print("hi python 문자열이 같습니다.")
if "hello" in a_str:
  print("hello 가 포함되어 있습니다.")
if "hello" not in a_str:
  print("hello가 포함되어 있지 않습니다.")
if "hi" not in a_str:
  print("hi가 포함되어 있지 않습니다. ")

a_list = ["안녕", 1,2,"파이썬"]
if "안녕" in a_list:
  print("a_list에 안녕 이 포함되어 있습니다.")
if 2 in a_list:
  print("a_list에 숫자 2가 포함되어 있습니다.")
if "안녕" not in a_list:
  print("a_list에 안녕 이 포함되어 있지 않습니다.")
if 5 not in a_list:
  print("a_list에 숫자 5는 없습니다.")

두 개의 값은 같습니다.
두 개의 값은 같지 않습니다.
b 값이 더 큽니다.
a 값이 더 크거나 같습니다.
a 값이 더 작거나 같습니다.
두 조건 모두 만족
두 조건 중 하나라도 만족하면
hello python 문자열이 같습니다.
hello 가 포함되어 있습니다.
hi가 포함되어 있지 않습니다.
a_list에 안녕 이 포함되어 있습니다.
a_list에 숫자 2가 포함되어 있습니다.
a_list에 숫자 5는 없습니다.

In [38]:
#for문
for i in range(7):
  print(i)
for i in range(5,10):
  print(i)
for i in range(10,5,-1):
  print(i)
a_list = [1,2,3,4,5,"안녕","하세요"]
for i in a_list:
  print(i)
a_str = "hello python"
for i in a_str:
  print(i)

name_list = ["홍길동", "장다인", "김철수"]
age_list = [500,5,12]
for i,k in enumerate(name_list):
  print("i=", i, end='  ')
  print("k=",k)
for i,k in enumerate(name_list):
  print(k, end='  ')
  print(age_list[i])
for i,k in enumerate(name_list):
  print(name_list[i],end='  ')
  print(age_list[i])
for i in range(len(name_list)):
  print(name_list[i],end='  ')
  print(age_list[i])

test_list = [i for i in range(10)]
print(test_list)

test2_list=[]
for i in range(10):
  test2_list.append(i)
print(test2_list)

test_list=[i*5 for i in range(10)]
print(test_list)
test2_list=[0 for i in range(10)]
print(test2_list)

#while문
a=0
while a<5:
  print(a)
  a=a+1

a=0
while True:
  print(a)
  a=a+1
  if a>=5:
    break

0
1
2
3
4
5
6
5
6
7
8
9
10
9
8
7
6
1
2
3
4
5
안녕
하세요
h
e
l
l
o

p
y
t
h
o
n
i= 0  k= 홍길동
i= 1  k= 장다인
i= 2  k= 김철수
홍길동  500
장다인  5
김철수  12
홍길동  500
장다인  5
김철수  12
홍길동  500
장다인  5
김철수  12
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
0
1
2
3
4
0
1
2
3
4

In [41]:
try:
  ddkfjekfjdl
except:
  print("에러발생")

try:
  dkejfkjefoi
except:
  pass
print("에러를 무시")

try:
  dfkejfkejke
except Exception as e:
  print("에러발생 원인", e)

에러발생
에러를 무시
에러발생 원인 name 'dfkejfkejke' is not defined

In [47]:
def func():
  print("안녕하세요")
  print("파이썬과 40개의 작품들 입니다.")
func()
for i in range(3):
  func()

def funcAdd(a,b):
  return a+b
c = funcAdd(1,2)
print(c)

def funcMux(a,b):
  mux=a*b
  return mux
c=funcMux(2,3)
print(c)

def funcAddMux(a,b):
  add=a+b
  mux=a*b
  return add,mux
a,b=funcAddMux(1,3)
print(a,b)

def funcAddMux(a,b):
  add=a+b
  mux=a*b
  return add,mux
_,b=funcAddMux(1,3) #1번째 값은 받지 않겠다는 뜻
print(b)

안녕하세요
파이썬과 40개의 작품들 입니다.
안녕하세요
파이썬과 40개의 작품들 입니다.
안녕하세요
파이썬과 40개의 작품들 입니다.
안녕하세요
파이썬과 40개의 작품들 입니다.
3
6
4 3
3

In [59]:
class Greet():
  def hello(self):
    print("hello")
  def hi(self):
    print("hi")
human1 = Greet()
human2 = Greet()
human1.hello()
human1.hi()
human2.hello()
human2.hi()

class Student():
  def __init__(self, name, age, like):
    self.name=name
    self.age=age
    self.like=like
  def studentInfo(self):
    print(f"이름:{self.name}, 나이:{self.age}, 좋아하는 것:{self.like}")
김철수 = Student("김철수", 17, "축구")
장다인 = Student("장다인", 5, "헬로카봇")
김철수.studentInfo()
장다인.studentInfo()

class Mother():
  def characteristic(self):
    print("키가 크다.")
    print("공부를 잘한다.")
class Daughter(Mother):
  def characteristic(self):
    super().characteristic()
    print("운동을 잘한다.")
엄마 = Mother()
딸 = Daughter()
print("엄마는 ")
엄마.characteristic()
print("딸은 ")
딸.characteristic()

class Mother():
  def __init__(self):
    print("키가 크다.")
    print("공부를 잘한다.")
class Daughter(Mother):
  def __init__(self):
    super().__init__()
    print("운동을 잘한다.")
print("엄마는")
엄마=Mother()
print("딸은")
딸=Daughter()

hello
hi
hello
hi
이름:김철수, 나이:17, 좋아하는 것:축구
이름:장다인, 나이:5, 좋아하는 것:헬로카봇
엄마는
키가 크다.
공부를 잘한다.
딸은
키가 크다.
공부를 잘한다.
운동을 잘한다.
엄마는
키가 크다.
공부를 잘한다.
딸은
키가 크다.
공부를 잘한다.
운동을 잘한다.

In [60]:
#주석입니다.
#사용자 설명 코드 입니다.
print("hello")
#print("hello")
print("hi")

"""
여러 줄을 입력할때는 
쌍따옴표 3개로 시작하고
쌍따옴표 3개로 종료하면
여러 줄을 입력할 수 있습니다. 
"""

'''
또는 여러 줄을 입력할 때는 
따옴표 3개로 시작하고
따옴표 3개로 종료하면
여러 줄을 입력할 수 있습니다.
'''

a_str = """
여러 줄의
문자열을 입력할 때도
쌍따옴표 또는 따옴표
3개를 사용할 수 있습니다.
"""
print(a_str)

#여러 줄을 마우스로 드래그 하여 선택 후 [Ctrl + /]로 주석 처리 할 수 있습니다. 
#다시 주석을 해제할 때는 # 주석 처리된 코드에서 [Ctrl + /]로 주석을 해제 할 수 있습니다.
#a=1
#b=2
#print(a+b)

hello
hi

여러 줄의
문자열을 입력할 때도
쌍따옴표 또는 따옴표
3개를 사용할 수 있습니다.

In [56]:
import random
print(random.randint(1,100))

import random as rd
print(rd.randint(1,100))

from random import randint
print(randint(1,100))

from random import *
print(randint(1,100))

74
5
14
69